* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: eggshell;
    font-family: 'Roboto Slab', serif;
}
#wrapper{
    max-width: 1100px;
    margin: 0 auto;
    height: 100vh;
    border-inline: solid 4px black;
    overflow-y: scroll;
}
h1{
    margin-block: .5em;
}
p {
    font-size: 1rem;

}
#classlist {
    display: grid;
   grid-template-columns: repeat(3, 1fr);
}
#classlist>section:nth-child(odd){
    background-color: cadetblue;
}
ul{
    list-style-type: none;
}
.class{
    padding-block-end: .5em;
    padding-inline-start: .5em;
}
.class>*{
    margin-block-start: .5em;
}
.resourceCard>*{
    margin-block: .5em;
}
.link>*{
    color: black;
}
.collapsed>*{
    max-height: 0px;
    opacity: 0;
}
.resources:hover{
    cursor: pointer;
}